TENANT_ID=<tenant_id>
CLIENT_ID=<client_id>
CLIENT_SECRET=<client_secret>

GROUP_ID=<group_id>
FILE_ID=<file_id>
DELETION_FILE_ID=<deletion_file_id>
SHEET_NAME=<sheet_name>
FOLDER_ID=<folder_id>

LOAD_MOCK_DATA=false
