.qr-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.bottomright {
  position: absolute;
  width: 300px;
  height: 300px;
  bottom: 75px;
  right: 20px;
}

.popup {
  width: 300px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-align: center;
  visibility: hidden;
}

.open-popup {
  visibility: visible;
}

.popup p {
  position: absolute;
  font-size: 14px;
  bottom: 385px;
  right: 20px;
  width: 300px;
}

.pdf-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, auto));
  gap: 1rem;
  justify-content: center;
}

.pdf-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ccc;
  transition: transform 0.2s;
  width: 190px;
  justify-content: space-between;
  padding: 0.5rem;
  box-sizing: border-box;
}

.pdf-card:hover {
  transform: translateY(-3px);
}

.pdf-button {
  position: absolute;
  top: 50%;
  padding: 0 1rem !important;
  height: 2rem !important;
  font-size: 1rem !important;
  line-height: 1;
}

.pdf-container.preview {
  width: 150px;
  height: auto;
}

.pdf-wrapper .pdf-button.right {
  right: -100px;
}
