.toolbar {
  display: flex;
  position: absolute;
  flex-direction: column;
  gap: 0.4rem;
  z-index: 100;
  backdrop-filter: blur(12px);
  border: 1px solid #dddddd;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
